.input {
    position: relative;
    width: 100%;
    height: auto;

    border-bottom: 1px solid var(--Green);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    & > span {
        position: absolute;
        bottom: -18px;
        left: 0;

        font-size: 0.75rem;
        font-weight: 500;
        color: var(--Red);
    }

    &__area {
        width: 100%;
        height: auto;
    
        padding: 10px 0;
        border: none;
        outline: none;
        background: none;
    
        font-size: 1rem;
        font-weight: 500;
        color: var(--LightGrey);
    
        &::placeholder {
            font-size: 1rem;
            font-weight: 500;
            color: var(--LightGrey);
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: var(--Red);
    }
}

.error {
    border-bottom: 1px solid var(--Red);
}

