.section {
    width: 100%;
    height: auto;
    margin: 70px 0;

    & > h1 {
        font-size: 1.625rem;
        font-weight: 700;
        color: var(--DarkGrey);
    }

    & > span {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--LightGrey);
    }

    &__container {
        width: 100%;
        height: auto;
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    &__credential {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__user {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        width: 80px;
        height: 80px;
        background-color: var(--Green);
        border-radius: 50%;
        
        display: flex;
        align-items: center;
        justify-content: center;

        & > span {
            color: var(--White);
            font-family: "Bruno Ace SC", sans-serif;
            font-size: 3.25rem;
            font-weight: 500;
        }
    }

    &__name {
        color: var(--DarkGrey);
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__email {
        color: var(--LightGrey);
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__form {
        width: 100%;
        max-width: 550px;
        height: auto;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        & > button {
            width: 350px;
        }
    }

    &__data {
        width: 100%;
        max-width: 350px;
        height: auto;
        border-bottom: 1px solid var(--Green);

        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 5px;

        & > label {
            font-size: 1.125rem;
            font-weight: 600;
            color: var(--DarkGrey);
        }

        & > input {
            width: 100%;
            height: auto;

            padding: 10px 0;
            border: none;
            outline: none;
            background: none;

            font-size: 1rem;
            font-weight: 500;
            color: var(--LightGrey);
        }

        & > button {
            background-color: transparent;
            padding: 8px;
            border-radius: 50%;
            transition: all ease-in-out 0.2s;

            &:hover {
                background-color: var(--LightBlue);
            }
            &:hover > svg {
                color: var(--White);
            }

            & > svg {
                color: var(--LightBlue);
                transition: all ease-in-out 0.2s;
            }

        }
    }

    &__extras {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        & > span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--DarkGrey);
        }

        & > button {
            background-color: transparent;
            padding: 0;
            
            & > span {
                color: var(--Green);
                font-weight: 600;
            }
        }
    }
    
}

@media screen and (max-width: 960px) {
    .section {
        & > h1 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 620px) {
    .section {
        margin: 40px 0;

        & > h1 {
            font-size: 1.375rem;
        }

        &__logo {
            width: 65px;
            height: 65px;
    
            & > span {
                font-size: 2.5rem;
            }
        }
    
        &__name {
            font-size: 1.25rem;
        }
    
        &__email {
            font-size: 1rem;
        }

        &__extras {
            & > button {
                & > span {
                   font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .section {
        &__form {
            & > button {
                width: 100%;
            }
        }
    }
}