.info {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h2 {
        color: var(--DarkGrey);
        font-size: 1.725rem;
        font-weight: 600;
        
        & > strong {
            color: var(--Green);
        }
    }

    & > h3 {
        color: var(--DarkGrey);
        font-size: 1.25rem;
        font-weight: 600;
        
        & > strong {
            color: var(--Green);
        }
    }
}


@media screen and (max-width: 960px) {
    .info {
        & > h2 {
            font-size: 1.5rem;
        }
        & > h3 {
            font-size: 1rem;
            & > strong {
                color: var(--Green);
                font-size: 1.125rem;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .info {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}