.main{
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: url(../../assets/png/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__logo {
        position: absolute;
        top: 35%;
        left: 35%;

        width: 40%;
        height: auto;
    }

    &__section { 
        width: 100%;
        max-width: 550px;
        height: 100%;

        display: flex;
        align-items: center;
        background-color: var(--White);
        padding: 0 10px;
    }

    &__aside { 
        width: 350px;
        height: auto;
        margin: auto;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > h1 {
            font-size: 1.625rem;
            font-weight: 700;
            color: var(--DarkGrey);
        }

        & > span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--LightGrey);
        }
    }

    &__form {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 40px;

        margin-top: 70px;
    }

    &__password {
        width: 100%;
        height: auto;
        margin-top: 60px;
        
        display: flex;
        flex-direction: column;
        gap: 30px;

        & > label {
            font-size: 1.625rem;
            font-weight: 700;
            color: var(--DarkGrey);
        }
    }

    &__span {
        width: 100%;
        height: auto;

        border: 1px solid var(--Green);
        padding: 30px 0;
        text-align: center;

        & > span {
            font-size: 1rem;
            font-weight: 700;
            color: var(--DarkGrey);
        }
    }
}