.header {
    width: 100%;
    height: auto;

    &__container {
        width: 100%;
        max-width: 1280px;
        height: auto;
        margin: auto;
        padding: 20px 10px;

        display: flex;

        & > button {
            padding: 0;
        }
    }

    &__nav {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__login {
        & > a {
            color: var(--White);
            font-weight: 500;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .header {
        position: relative;
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > button {
                padding: 0;
                & > svg {
                    width: 28px;
                    height: 28px;
                }
            }
        }

        &__menu {
            display: block;
        }

        &__nav {
            position: fixed;
            top: 79px;
            right: 0;

            width: 380px;
            height: 100%;
            
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            gap: 35px;
            padding-top: 40px;
    
            background-color: var(--LightBlue);
            z-index: 1;
            animation-name: menuIn;
            animation-duration: 1s;
        }
    }
    .active {
        display: flex;
    }
}


@media screen and (max-width: 620px) {
    .header {
        &__container {
            & > button {
                & > svg {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .header {
        &__nav {
            width: 250px;
        }
    }
}

@keyframes menuIn {
    0% {
        right: -380px;
    }
    100% {
        right: 0px;
    }
}