.main{
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: url(../../assets/png/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__section {
        width: 100%;
        max-width: 550px;
        height: 100%;

        display: flex;
        align-items: center;
        background-color: var(--White);
        padding: 0 10px;
    }

    &__aside { 
        width: 350px;
        height: auto;
        margin: auto;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > h1 {
            font-size: 1.625rem;
            font-weight: 700;
            color: var(--DarkGrey);
        }

        & > span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--LightGrey);
        }
    }

    &__form {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 40px;

        margin-top: 70px;
    }

    &__extras {
        width: 100%;
        height: auto;

        margin-top: 40px;

        & > span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--DarkGrey);

            & > a {
                color: var(--Green);
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__logo {
        position: absolute;
        top: 35%;
        left: 35%;

        width: 100%;
        max-width: 55%;
        height: auto;
    }
}