.main{
    width: 100%;
    height: auto;
    
    display: flex;
    min-height: 100vh;

    background-image: url(../../assets/png/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__section {
        width: 100%;
        max-width: 550px;

        display: flex;

        background-color: var(--White);
        padding: 0 10px;
    }

    &__aside { 
        width: 350px;
        height: auto;
        margin: auto;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > h1 {
            font-size: 1.625rem;
            font-weight: 700;
            color: var(--DarkGrey);
        }

        & > span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--LightGrey);
        }
    }

    &__form {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 40px;

        margin-top: 70px;
    }

    &__extras {
        width: 100%;
        height: auto;

        margin: 40px 0;

        & > span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--DarkGrey);

            & > a {
                color: var(--Green);
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@media screen and (max-width: 1060px) {
    .main {
        &__section { 
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 920px) {
    .main {
        &__section { 
            max-width: 400px;
        }
    }
}

@media screen and (max-width: 780px) {
    .main {
        &__section { 
            max-width: 100%;
            display: block;
            padding-top: 50px;
        }
    }
}

@media screen and (max-width: 920px) {
    .main {
        &__aside {
            width: 320px;
        }
    }
}